---
layout: page
title: 2010 Era Archives
---

{% for post in site.posts reversed %}
{% capture year %}{{post.date | date: "%Y"}}{% endcapture %}
{% capture month %}{{post.date | date: "%m"}}{% endcapture %}
{% if year == "2011" or year == "2010" and month > "08" %}
<header>
  <h1>{{ post.title }}</h1>
  <p class="post-metadata"><a href="{{ post.url }}"><time
        datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%a, %b %-d %Y" }}</time></a></p>
</header>
<article>{{ post.content }}</article>
{% endif %}
{% endfor %}