---
layout: archive
title: Archives
---

{% for post in site.posts %}
  {% assign currentdate = post.date | date: "%Y" %}
  {% if currentdate != date %}
    {% unless forloop.first %}</ul></div>{% endunless %}
    <div>
      <h3>{{ currentdate }}</h3>
        <ul>
    {% assign date = currentdate %}
  {% endif %}
    {% assign wordcount = post.content | number_of_words %}
    <li>
      <a class="archive_link{% if wordcount > 300 %} long_post{% endif %}" href="{{ post.url }}">{{ post.title }}</a> ({{wordcount}})
    </li>
  {% if forloop.last %}</ul></div>{% endif %}
{% endfor %}
