---
layout: page
---

{% for post in site.posts limit:20 %}
<a href="{{ post.url }}" class="blog-index-a">
  <div class="blog-index-div">
    <h3>{{ post.title }}</h3>
    <p class="post-metadata">
      {{ post.word_count }} words on <time
        datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%a, %B %-d, %Y" }}</time>{% if
            post.categories.size > 0 %} in {% for category in post.categories %} #{{
              category | downcase | replace: " ", "-"}}{% endfor %}{% endif %}
    </p>
    <p class="small">
      {{ post.computed_excerpt }}
    </p>
  </div>
</a>
{% endfor %}
