---
layout: categories
title: Categories
---

{% assign sorted_cats = site.categories | sort %}

<ul>
  {% for category in sorted_cats %}
    {% capture category_name %}{{ category | first }}{% endcapture %}
      <li><a href="#{{ category_name }}" {% if category[1].size > 10 %}class="bold"{% endif %}>{{ category_name }}</a> ({{ category[1].size }})</li>
  {% endfor %}
</ul>

{% for category in sorted_cats %}
  {% capture category_name %}{{ category | first }}{% endcapture %}
  <h3><a name="{{ category_name }}"></a>{{ category_name }}</a></h3>
  <ul>
    {% for post in site.categories[category_name] %}
      <li><a class="archive_link" href="{{ post.url }}">{{post.title}}</a></li>
    {% endfor %}
  </ul>
{% endfor %}
