@import url(https://fonts.bunny.net/css?family=montserrat:400,500,600,700,800);

:root {
  --bg: #fff;
  --my-gradient: linear-gradient(to bottom, #fff, #fcf9f2);
  --text: #040404;
  --green: #404c00;
  --lightgreen: #7b8545;
  --grey: #878787;
  --pink: #ffd5dc;
  --lightgrey: #eeeeee;
  --header: "Montserrat", serif;
  --sans: system-ui, sans-serif;
  --body: system-ui, sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #262626;
    --my-gradient: linear-gradient(to bottom, #262626, #373737);
    --text: #fcf7ed;
    --green: #f0fff0;
    --lightgreen: #d5d9bc;
    --lightgrey: #484848;
  }
}

/* RESET from https://andy-bell.co.uk/a-more-modern-css-reset/ */

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
html,
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* END RESET */

body {
  /* background-color: var(--bg); */
  /* background: rgb(255, 255, 255); */
  background: var(--my-gradient);
  color: var(--text);
  font-family: var(--body);
  font-size: 1.1em;
  line-height: 1.5em;
  min-height: 98vh;
}

@media screen and (max-width: 600px) {
  body {
    font-size: 1.2em;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--header);
  letter-spacing: 0.03rem;
  line-height: 1.1em;
  margin: 0 10px 1.1rem 0;
  padding: 10px 10px 0 0;
}

h1 {
  font-size: 1.6em;
}
h2 {
  font-size: 1.4em;
}
h3 {
  font-size: 1.2em;
}
h4 {
  font-size: 1.1em;
}
h5 {
  font-size: 1em;
}
h6 {
  font-size: 0.8em;
}

::selection {
  background: var(--pink);
}

a {
  color: var(--green);
}
a:hover {
  color: var(--text);
}
a:visited {
  color: var(--text);
  text-decoration-style: wavy;
}
a strong {
  color: inherit;
}
a.dead {
  color: var(--grey);
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: red;
}
del {
  color: var(--grey);
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  border: none;
  color: var(--text);
}

.main-content {
  margin: 2rem auto;
  min-height: 100vh;
  padding: 1rem;
  width: 600px;
}
@media screen and (max-width: 600px) {
  .main-content {
    margin: 3rem auto;
    width: auto;
  }
}
.main-content p,
.main-content div,
.main-content iframe,
.main-content table,
.main-content hr {
  margin-bottom: 1em;
}

.main-content hr {
  margin: 2rem auto 1rem;
}

hr {
  background-color: var(--lightgreen);
  border: none;
  color: var(--lightgreen);
  height: 1px;
  width: 80%;
}

ul,
ol {
  margin-bottom: 1rem;
}
li {
  margin-bottom: 0.5rem;
}
ul li {
  list-style: disc;
}
ol li {
  list-style: decimal;
}
li > ul,
li > ol {
  margin: 0.3rem 0 0;
}

.main-content div.post-metadata {
  color: var(--grey);
  font-family: var(--sans);
  font-size: 0.9em;
  line-height: 1.1em;
  margin-bottom: 2em;
  margin-top: -0.8em;
}

header a,
.post-metadata a {
  border: none;
  color: inherit;
  text-decoration: none;
}

.post-metadata a:hover {
  background-color: var(--pink);
}

blockquote {
  background-color: var(--lightgrey);
  border-radius: 5px;
  margin-bottom: 1em;
  margin-left: 0;
  padding: 0.8em 1em 0.7em;
}
.main-content blockquote p:first-of-type {
  margin-top: 0;
}
.main-content blockquote p:last-of-type {
  margin-bottom: 0;
}

img {
  border-radius: 5px;
  max-width: 100%;
}

pre {
  border-radius: 5px;
  font-size: 0.8rem;
  margin-bottom: 1em;
  overflow: auto;
  padding: 10px;
}

.small,
.postscript {
  display: block;
  font-size: 0.9em;
  line-height: 1.5em;
}

.postscript {
  font-style: italic;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: start;
  align-items: auto;
  align-content: start;
}
.item {
  border: 3px solid var(--green);
  border-radius: 10px;
  flex: 0 0 auto;
  margin: 10px;
  padding: 10px 10px 0;
}
.item .post-metadata {
  margin-top: 0px;
}
.writing-index-title a {
  font-family: var(--header);
  font-size: 1.2rem;
  font-weight: bold;
}
.writing-link {
  border: none;
  text-decoration: none;
}
.writing-index-category {
  background-color: var(--bg);
  border: 1px solid var(--green);
  border-radius: 5px;
  float: right;
  font-size: 0.7rem;
  line-height: 1.4rem;
  margin: 0 4px;
  padding: 0px 6px;
}
.writing-index-excerpt {
  font-size: 0.9rem;
  line-height: 1.5em;
  max-width: 300px;
}
.writing-index-excerpt a {
  border-bottom: 0px;
}
.main-content.writing {
  width: 650px;
}
@media screen and (max-width: 700px) {
  .main-content.writing {
    width: auto;
  }
}

.menu {
  font-family: var(--sans);
  font-size: 0.9em;
  margin: 0;
  padding: 0 1em;
  text-align: right;
}
.menu ul {
  list-style: none;
  padding: 0;
}
.menu ul li {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0 5px;
  text-align: left;
}
.menu .only-index {
  display: none;
}
.menu a {
  text-decoration: none;
}
.menu a:hover {
  text-decoration: wavy;
}
.menu a:visited {
  color: var(--green);
}

.footer {
  font-family: var(--sans);
  font-size: 0.9rem;
  text-align: right;
}

/* 
  blog_nav is div container around:
    on blog "index":
      h4
      ul
        li
          a
    on blog post:
      p
        "prev"
      p
        "next"
*/
.blog_nav li {
  list-style: none;
}
.blog_nav p,
.blog_nav li {
  font-family: var(--sans);
  font-size: 0.9em;
  line-height: 1.4rem;
}
.blog_nav p {
  margin-top: 0;
  width: 50%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 0.9rem;
  margin-bottom: 1em;
}

tr {
  border-bottom: 1px solid var(--green);
}

.index-hero {
  font-family: var(--sans);
  min-height: 45vh;
  padding-top: 22vh;
  text-align: center;
}

/* code colors */
.highlight pre {
  background-color: #272822;
}
.highlight .hll {
  background-color: #272822;
}
.highlight .c {
  color: #75715e;
} /* Comment */
.highlight .err {
  color: #960050;
  background-color: #1e0010;
} /* Error */
.highlight .k {
  color: #66d9ef;
} /* Keyword */
.highlight .l {
  color: #ae81ff;
} /* Literal */
.highlight .n {
  color: #f8f8f2;
} /* Name */
.highlight .o {
  color: #f92672;
} /* Operator */
.highlight .p {
  color: #f8f8f2;
} /* Punctuation */
.highlight .cm {
  color: #75715e;
} /* Comment.Multiline */
.highlight .cp {
  color: #75715e;
} /* Comment.Preproc */
.highlight .c1 {
  color: #75715e;
} /* Comment.Single */
.highlight .cs {
  color: #75715e;
} /* Comment.Special */
.highlight .ge {
  font-style: italic;
} /* Generic.Emph */
.highlight .gs {
  font-weight: bold;
} /* Generic.Strong */
.highlight .kc {
  color: #66d9ef;
} /* Keyword.Constant */
.highlight .kd {
  color: #66d9ef;
} /* Keyword.Declaration */
.highlight .kn {
  color: #f92672;
} /* Keyword.Namespace */
.highlight .kp {
  color: #66d9ef;
} /* Keyword.Pseudo */
.highlight .kr {
  color: #66d9ef;
} /* Keyword.Reserved */
.highlight .kt {
  color: #66d9ef;
} /* Keyword.Type */
.highlight .ld {
  color: #e6db74;
} /* Literal.Date */
.highlight .m {
  color: #ae81ff;
} /* Literal.Number */
.highlight .s {
  color: #e6db74;
} /* Literal.String */
.highlight .na {
  color: #a6e22e;
} /* Name.Attribute */
.highlight .nb {
  color: #f8f8f2;
} /* Name.Builtin */
.highlight .nc {
  color: #a6e22e;
} /* Name.Class */
.highlight .no {
  color: #66d9ef;
} /* Name.Constant */
.highlight .nd {
  color: #a6e22e;
} /* Name.Decorator */
.highlight .ni {
  color: #f8f8f2;
} /* Name.Entity */
.highlight .ne {
  color: #a6e22e;
} /* Name.Exception */
.highlight .nf {
  color: #a6e22e;
} /* Name.Function */
.highlight .nl {
  color: #f8f8f2;
} /* Name.Label */
.highlight .nn {
  color: #f8f8f2;
} /* Name.Namespace */
.highlight .nx {
  color: #a6e22e;
} /* Name.Other */
.highlight .py {
  color: #f8f8f2;
} /* Name.Property */
.highlight .nt {
  color: #f92672;
} /* Name.Tag */
.highlight .nv {
  color: #f8f8f2;
} /* Name.Variable */
.highlight .ow {
  color: #f92672;
} /* Operator.Word */
.highlight .w {
  color: #f8f8f2;
} /* Text.Whitespace */
.highlight .mf {
  color: #ae81ff;
} /* Literal.Number.Float */
.highlight .mh {
  color: #ae81ff;
} /* Literal.Number.Hex */
.highlight .mi {
  color: #ae81ff;
} /* Literal.Number.Integer */
.highlight .mo {
  color: #ae81ff;
} /* Literal.Number.Oct */
.highlight .sb {
  color: #e6db74;
} /* Literal.String.Backtick */
.highlight .sc {
  color: #e6db74;
} /* Literal.String.Char */
.highlight .sd {
  color: #e6db74;
} /* Literal.String.Doc */
.highlight .s2 {
  color: #e6db74;
} /* Literal.String.Double */
.highlight .se {
  color: #ae81ff;
} /* Literal.String.Escape */
.highlight .sh {
  color: #e6db74;
} /* Literal.String.Heredoc */
.highlight .si {
  color: #e6db74;
} /* Literal.String.Interpol */
.highlight .sx {
  color: #e6db74;
} /* Literal.String.Other */
.highlight .sr {
  color: #e6db74;
} /* Literal.String.Regex */
.highlight .s1 {
  color: #e6db74;
} /* Literal.String.Single */
.highlight .ss {
  color: #e6db74;
} /* Literal.String.Symbol */
.highlight .bp {
  color: #f8f8f2;
} /* Name.Builtin.Pseudo */
.highlight .vc {
  color: #f8f8f2;
} /* Name.Variable.Class */
.highlight .vg {
  color: #f8f8f2;
} /* Name.Variable.Global */
.highlight .vi {
  color: #f8f8f2;
} /* Name.Variable.Instance */
.highlight .il {
  color: #ae81ff;
} /* Literal.Number.Integer.Long */
.highlight .gu {
  color: #75715e;
} /* Generic.Subheading & Diff Unified/Comment? */
.highlight .gd {
  color: #f92672;
} /* Generic.Deleted & Diff Deleted */
.highlight .gi {
  color: #a6e22e;
} /* Generic.Inserted & Diff Inserted */
