<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="/public/style.css" rel="stylesheet">
    <style>
      body {
        font-size: .8rem;
      }
      a.long_post {
        font-weight: bold;
      }
      ul li {
        list-style: none;
      }
    </style>
  </head>

  <body style="width: 7000px; margin: .5rem">
    <div style="display: grid; gap: 10px; grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));">
      {{ content }}
    </div>
    <div class="container content">
      {% include footer.html %}
    </div>
  </body>
</html>
