<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body class="bg-gray-100 text-gray-700 font-sans quicksand">
  <div class="p-6 sm:p-10 lg:p-16 flex flex-wrap">
    {{ content }}
    <div class="w-full lg:w-1/3 lg:pr-32 pt-12 lg:pt-0 lg:sticky lg:bottom-0 order-4 lg:order-3 nav">
      <div class="max-w-lg lg:float-right lg:text-right lg:mb-16 leading-relaxed tracking-normal">
        <ul class="flex flex-wrap justify-between flex-row lg:flex-col">
          <li><a href="/" class="nav mx-2 lg:mx-0 text-sm">About</a></li>
          <li><a href="/blog" class="nav mx-2 lg:mx-0 text-sm">Blog</a></li>
          <li><a href="/music" class="nav mx-2 lg:mx-0 text-sm">Music</a></li>
        </ul>
        {% include footer.html %}
      </div>
    </div>
  </div>

  <!-- Pin to top right corner -->
  <div class="absolute top-0 right-0 h-12 w-18 p-4">
    <button class="js-change-theme focus:outline-none">🌙</button>
  </div>

  <script>
    //Toggle mode
    const toggle = document.querySelector('.js-change-theme');
    const body = document.querySelector('body');

    function toggleToDark() {
      toggle.innerHTML = "☀️";
      body.classList.remove('text-gray-700');
      body.classList.add('text-gray-300');
      body.classList.remove('bg-gray-100');
      body.classList.add('bg-gray-900');
      localStorage.setItem('theme', 'dark');
    }

    function toggleToLight() {
      toggle.innerHTML = "🌙";
      body.classList.remove('text-gray-300');
      body.classList.add('text-gray-700');
      body.classList.remove('bg-gray-900');
      body.classList.add('bg-gray-100');
      localStorage.setItem('theme', 'light');
    }

    const theme = localStorage.getItem('theme');
    // if (window.matchMedia && 
    //     window.matchMedia('(prefers-color-scheme: dark)').matches) {
    //   toggleToDark();
    //   window.matchMedia('(prefers-color-scheme: dark)')
    //     .addEventListener('change', event => {
    //       if (event.matches) {
    //         toggleToDark();
    //       } else {
    //         toggleToLight();
    //       }
    //     });
    // } else 
    if (theme == "dark") {
      toggleToDark();
    } else if (theme == "light") {
      toggleToLight();
    }

    toggle.addEventListener('click', () => {
      if (body.classList.contains('text-gray-700')) {
        toggleToDark();
      } else {
        toggleToLight();
      }
    });

  </script>

</body>

</html>