<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body class="bg-gray-100 text-gray-700 font-sans quicksand">
  <div class="p-6 sm:p-10 lg:p-16 flex flex-wrap">
    <div class="w-full md:w-2/3 order-1 md:order-2 main-content">
      <div class="max-w-lg leading-relaxed tracking-normal">
        <article>{{ content }}</article>
      </div>
    </div>
  </div>

  <!-- Pin to top right corner -->
  <div class="absolute top-0 right-0 h-12 w-18 p-4">
    <button class="js-change-theme focus:outline-none">🌙</button>
  </div>

  <script>
    //Toggle mode
    const toggle = document.querySelector('.js-change-theme');
    const body = document.querySelector('body');

    function toggleToDark() {
      toggle.innerHTML = "☀️";
      body.classList.remove('text-gray-700');
      body.classList.add('text-gray-300');
      body.classList.remove('bg-gray-100');
      body.classList.add('bg-gray-900');
      localStorage.setItem('theme', 'dark');
    }

    function toggleToLight() {
      toggle.innerHTML = "🌙";
      body.classList.remove('text-gray-300');
      body.classList.add('text-gray-700');
      body.classList.remove('bg-gray-900');
      body.classList.add('bg-gray-100');
      localStorage.setItem('theme', 'light');
    }

    const theme = localStorage.getItem('theme');
    if (theme == "dark") {
      toggleToDark();
    } else if (theme == "light") {
      toggleToLight();
    }

    toggle.addEventListener('click', () => {
      if (body.classList.contains('text-gray-700')) {
        toggleToDark();
      } else {
        toggleToLight();
      }
    });

  </script>

</body>

</html>