---
layout: page
---
<div>
  <header>
    <p class="post-metadata"><a href="{{ page.url }}">{{ page.content | number_of_words }} words written on <time datetime="{{ post.date | date_to_xmlschema }}">{{ page.date | date: "%a, %b %-d %Y" }}</time></a></p>
  </header>
  <article>
    {{ content }}
  </article>
</div>
<hr style="clear: both">
<div>
  {% if page.previous.url %}
    <p style="float: left; width: 50%; margin-top: 0">Previous: <a href="{{page.previous.url}}">{{ page.previous.title }}</a></p>
  {% endif %}
  {% if page.next.url %}
    <p style="float: right; width: 50%; text-align: right; margin-top: 0">Next: <a href="{{page.next.url}}">{{ page.next.title }}</a></p>
  {% endif %}
  <hr style="clear: both">
  <p style="text-align: right; font-size: 0.8rem;"><a href="/archives/">archives</a></p>
</div>
<div style="clear: both;"></div>
